.home-page {
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
}

.home-page ul {
  list-style-type: decimal;
}

.home-page li {
  font-size: 18px;
  margin: 1em 0 0 0;
}

.home-page code {
  background-color: rgba(33,150,243, 0.4);
  padding: 5px 10px;
  font-weight: 600;
}

.home-page a {
  color: red;
}