

.search-label {
  font-weight: 400;
}

#fighter-input {
  border: 1px solid rgba(105, 105, 105, 0.4);
  padding: 10px;
  margin: 1em;
  border-radius: 5px;
}

#fighter-input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(105, 105, 105, 0.4);
}

.search-btn {
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background-color: #2196f3;
  transition: 0.4s;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: 0.4s;
  box-shadow: 0px 1px 2px 1px rgba(105, 105, 105, 0.4);
}

.search-btn:hover {
  color: #f7f7f7;
  background-color: #1e88e5;
}