.news-page {
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.news-article {
  position: relative;
  margin-bottom: 20px;
  width: 32%;
  height: auto;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
  background-color: rgb(105, 105, 105);
}

@media screen and (max-width: 1150px) {
  .news-article {
    width: 49%;
  }
}

@media screen and (max-width: 800px) {
  .news-article {
    width: 100%;
  }
}

.article-img {
  display: block;
  width: 100%;
  height: auto;
}

.article-content {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  width: 100%;
  padding: 10px;
}

.article-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 600;
}

.article-date {
  font-size: 12px;
}